[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
plotly = "*"
pandas = "*"
tqdm = "*"
psutil = "*"
ipywidgets = ">=7.5"
jupyterlab = "*"
variational-inference = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.7"
